/* You can add global styles to this file, and also import other style files */

#themecolors .selector {
    cursor: pointer;
}

#google-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

#themecolors .selector, .cursor {
    cursor: pointer;
}

.img-avatar {
    width: 200px;
    height: 200px;
}